body
{
    background-color:#272727;
    color:#eeede6;
    font-family: 'Rajdhani', sans-serif;
}

header
{
    text-align: center;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-bottom-color: #3a0909;
    border-bottom-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    padding-bottom: 0.2em;
}

a
{
    color:#eeede6;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-weight: bold;
    margin: 2em;
    font-size: 5em;
}

p
{
    text-align: center;
    font-size: 1.5em;
    margin: 2em;
}

.ImgLeft
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 8em;
}

.ImgRight
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: 8em;
}

#ImgContainer
{
    margin-top: 5em;
}